{
  "smtp": {
    "host": "${SMTP_HOST}",
    "port": "${SMTP_PORT}",
    "secure": "${SMTP_SECURE}",
    "user": "${SMTP_USER}",
    "pass": "${SMTP_PASS}"
  },
  "from": {
    "name": "Casa Bait Property Consultant",
    "email": "${SMTP_FROM_EMAIL}"
  },
  "teamEmail": "${CONTACT_TEAM_EMAIL}"
}
